/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
pre {
    background-color: rebeccapurple;
    display: inline-block;
}